<p id="notice"><%= notice %></p>

<h1>My Movies</h1>

<%= link_to 'New Movie', new_movie_path, class: "btn btn-success new_movie btn-inverse" %>

<div class="card-columns">
  <% @movies.each do |movie| %>

  <div class="card movie-card">
    <img class="card-img-top img-fluid" src="<%= movie.image_url %>" alt="Card image cap">
    <div class="card-block">
      <h5 class="card-title"><%= link_to movie.title, movie, class: 'movie_title' %></h5>
      <p class="card-text"><small class="text-muted">Genre: <%= movie.genre %></small></p>
      <p class="card-text"><small class="text-muted">Rated: <%= movie.rating %></small></p>
      <%= link_to 'Edit this Movie', edit_movie_path(movie), class: "btn btn-warning btn-block btn-text" %>
      <%= link_to 'Delete this Movie', movie, class: "btn btn-danger btn-block btn-text", method: :delete, data: { confirm: 'Are you sure?' } %>
    </div>
  </div>
  <% end %>
</div>


