<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @movie.title %>
</p>

<p>
  <strong>Genre:</strong>
  <%= @movie.genre %>
</p>

<p>
  <strong>Rating:</strong>
  <%= @movie.rating %>
</p>

<p>
  <strong>Image url:</strong>
  <%= @movie.image_url %>
</p>

<%= link_to 'Edit', edit_movie_path(@movie) %> |
<%= link_to 'Back', movies_path %>

<hr>
<h4>Actors in this Film</h4>
<% @movie.actors.each do |actor| %>
<p>
  <%= link_to actor.name, actor %>
</p>
<% end %>
